@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&display=swap');

:root{
  --background: #1B1B1B;
  --grey: #D2D2D2;
  --blue: #37CEFF;
  --white: #FFFFFF;
  --black: #000000;
  --dark-grey: #0F0F0F;
}

body {
  background: var(--background);
}

.App {
  text-align: center;
}

h2 {
  align-items: center;
  color:var(--grey);
  display: flex;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  margin: 5vh 10vw 3vh;
  text-transform: uppercase;
}

h2::after {
  background-color: var(--grey);
  content: '';
  flex: 1;
  height: 1px;
  margin-left: 1rem;
  opacity: 0.2;
}

h4 {
  align-items: center;
  color:var(--grey);
  font-family: 'Barlow', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  margin: 1em 0;
}

@media (max-width: 650px) {
  h2 {
    margin: 3vh 6vw 3vh;
  }
}